* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: monospace;
  color: #383838;
}

a {
  text-decoration: none;
  color: #383838;  
}

a:visited {
  color: #383838;
}

a:hover {
  background-color: #383838;
  color: #e4e4e4;
}

footer {
  margin: 2em auto;
  width: max-content;
}

.layout {
  min-height: 100vh;
}

.list {
  max-width: 400px;
  margin: auto;
}

.post {
  max-width: 540px;
  font-size: 16px;
  padding: 1em;
  margin: auto;
}

.post p {
  line-height: 1.6em;
}

.post :not(pre) > code {
  padding: .4em;
}

.post pre {
  border-radius: 8px;
}

.post pre > code {
  white-space: pre-wrap;
}
